#mobile-nav {
  --tw-shadow: 0 -20px 50px -12px var(--tw-shadow-color, #00000040);

  > div > a {
    @apply flex items-center justify-center;
    @apply relative;

    &::before,
    &::after {
      content: "";

      @apply absolute;
    }

    &[href="/nigredo"] {
      --neon-color: var(--color-nigredo);

      &::before,
      &::after {
        content: "nigredo";
      }
    }

    &[href="/albedo"] {
      --neon-color: var(--color-albedo);

      &::before,
      &::after {
        content: "albedo";
      }
    }

    &[href="/citrinitas"] {
      --neon-color: var(--color-citrinitas);

      &::before,
      &::after {
        content: "citrinitas";
      }
    }

    &[href="/rubedo"] {
      --neon-color: var(--color-rubedo);

      &::before,
      &::after {
        content: "rubedo";
      }
    }

    &[href="/codex"] {
      --neon-color: var(--color-ctp-lavender);

      &::before,
      &::after {
        content: "codex";
      }
    }
  }
}
