@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import "@catppuccin/tailwindcss/mocha.css";
@import "./typography.css";

@theme {
  --default-font-family:
    "Atkinson Hyperlegible Next", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  --default-mono-font-family: "Atkinson Hyperlegible Mono", monospace;

  --sun-inset: 0 0px 24px 16px rgba(0, 0, 0, 1);

  --color-albedo: oklch(98.5% 0.002 247.839);
  --color-nigredo: oklch(55.1% 0.027 264.364);
  --color-citrinitas: oklch(79.5% 0.184 86.047);
  --color-rubedo: oklch(63.7% 0.237 25.331);
}

@utility neon-filter {
  --neon-color: transparent;
  --neon-filter: saturate(1) opacity(1)
    drop-shadow(0px 0px 1px var(--neon-color));

  filter: var(--neon-filter);

  &::before {
    --neon-filter-before: saturate(1.5) opacity(0.5)
      drop-shadow(0px 0px 5px var(--neon-color));

    filter: var(--neon-filter-before);
  }

  &::after {
    --neon-filter-after: saturate(2) opacity(0.25)
      drop-shadow(0px 0px 10px var(--neon-color));

    filter: var(--neon-filter-after);
  }
}

@utility ctp-text {
  --ctp-text-theme-headings: var(--color-ctp-text);
  --ctp-text-theme-body: var(--color-ctp-subtext0);
  --ctp-text-theme-lead: var(--color-ctp-subtext1);
  --ctp-text-theme-links: var(--color-ctp-lavender-800);
  --ctp-text-theme-bold: var(--color-ctp-lavender-900);
  --ctp-text-theme-counters: var(--color-ctp-lavender-600);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--ctp-text-theme-headings);
  }

  p,
  span,
  li,
  a,
  small {
    color: var(--ctp-text-theme-body);
  }

  small {
    color: var(--ctp-text-theme-bold);
  }
}

.content-grid,
container {
  display: grid;
  grid-template-columns:
    [grid-start] minmax(0, 0.12fr) [content-start] 1fr
    [content-end] minmax(0, 0.12fr) [grid-end];
  width: 100%;

  & > *:not(.breakout) {
    grid-column: content;
  }

  & > .breakout {
    grid-column: grid;
  }
}

#icon-user > div:nth-child(2) {
  > div {
    background: radial-gradient(transparent 50%, rgba(0, 0, 0, 0.25));
  }
}

#icon-user-mobile > div:nth-child(2) {
  > div {
    background: radial-gradient(transparent 50%, rgba(0, 0, 0, 0.25));
  }
}

#mobile-nav {
  --tw-shadow: 0 -20px 50px -12px var(--tw-shadow-color, #00000040);

  > div > a {
    @apply flex items-center justify-center;
    @apply relative;

    &::before,
    &::after {
      content: "";

      @apply absolute;
    }

    &[href="/nigredo"] {
      --neon-color: var(--color-nigredo);

      &::before,
      &::after {
        content: "nigredo";
      }
    }

    &[href="/albedo"] {
      --neon-color: var(--color-albedo);

      &::before,
      &::after {
        content: "albedo";
      }
    }

    &[href="/citrinitas"] {
      --neon-color: var(--color-citrinitas);

      &::before,
      &::after {
        content: "citrinitas";
      }
    }

    &[href="/rubedo"] {
      --neon-color: var(--color-rubedo);

      &::before,
      &::after {
        content: "rubedo";
      }
    }
  }
}

the-fog {
  @apply absolute;
  @apply top-0 left-0;
  @apply h-full w-full;

  z-index: -1;

  > layer {
    @apply absolute;
    @apply shadow-ctp-red-400/50 shadow-2xl;
    @apply rounded-xl;

    height: 100%;
    width: 100%;

    &:nth-child(1) {
      --tw-shadow: 0px 0px 15px 1px var(--tw-shadow-color, rgb(0 0 0 / 0.25));
      filter: saturate(0.5) opacity(1);
    }
    &:nth-child(2) {
      --tw-shadow: 0px 0px 55px 1px var(--tw-shadow-color, rgb(0 0 0 / 0.25));
      filter: saturate(1.5) opacity(0.5);
    }
    &:nth-child(3) {
      --tw-shadow: 0px 0px 100px 1px var(--tw-shadow-color, rgb(0 0 0 / 0.25));
      filter: saturate(2) opacity(0.25);
    }
  }
}

#breadcrumbers_xd {
  @apply flex;

  ul {
    @apply flex items-center justify-between gap-1;
    @apply grow-0;
    @apply relative;

    > li {
      @apply flex items-center justify-center;

      &:not(:nth-last-child(1)) {
        @apply flex items-center justify-center;

        > a::after {
          content: "\\\\";

          @apply flex items-center justify-center;
          @apply ml-1;
          @apply text-gray-500;
        }
      }

      a {
        @apply flex items-center justify-center;

        filter: opacity(0.75);

        &[href="/"] {
          @apply text-gray-500;
        }

        &[href="/albedo"] {
          @apply text-gray-50;
        }

        &[href="/citrinitas"] {
          @apply text-yellow-500;

          &::after {
            @apply text-yellow-500;
          }
        }

        &[href="/rubedo"] {
          @apply text-red-500;
        }

        &[href="/nigredo"] {
          @apply text-gray-500;
          @apply text-shadow-gray-50/50;

          text-shadow: 0px 0px 1px var(--tw-text-shadow-color, #00000026);

          &::after {
            @apply text-gray-800;
          }
        }

        &[href$="gallery"] {
          @apply text-yellow-800;
        }
      }

      &:nth-last-child(1) {
        a {
          filter: opacity(1);
        }
      }
    }
  }
}

nav#main-nav {
  @apply fixed;
  @apply flex items-start justify-start;
  @apply h-screen w-60;
  @apply py-8;

  z-index: 2;

  .menu-content {
    @apply relative;
    @apply flex grow flex-col items-start justify-start;
    @apply gap-10;
    @apply h-full;
    @apply border-ctp-red-500/90 rounded-lg border-2 border-solid;
    @apply px-5 py-4;

    @apply bg-ctp-base;

    max-width: 360px;

    > the-fog {
      display: none;
    }
  }

  .logo {
    @apply relative;
    @apply flex items-start justify-start;
    @apply overflow-visible;
    @apply w-full;

    a {
      @apply relative;
      @apply flex items-start justify-start;
      @apply overflow-visible;
      @apply w-full;
    }

    .avatar {
      @apply relative;

      @apply h-12;
      @apply w-auto;
      @apply object-cover;
      @apply border-ctp-red-500/90 rounded-full border-3 border-solid;

      z-index: 2;
    }

    .decoration {
      @apply absolute;
      @apply -top-1 -left-1.5;
      @apply h-14;

      z-index: 3;
    }

    .ctp-base-decoration {
      @apply absolute;
      @apply -top-3 -left-3;
      @apply h-18 w-18;
      @apply rounded-full;

      z-index: 1;

      filter {
        @apply absolute;
        @apply h-18 w-18;

        box-shadow: 0 0 24px 16px var(--color-ctp-base) inset;

        z-index: 2;
      }

      img {
        z-index: 1;
      }
    }

    span {
      @apply flex;
      @apply overflow-hidden;

      img {
        @apply h-full;
        @apply w-auto;
        @apply object-cover;
      }
    }
  }

  .search-bar input {
    &::placeholder {
      @apply text-ctp-base;
    }

    &[value=""] {
      @apply text-ctp-base;
    }
  }
}

.super-giga-folders {
  @apply flex grow flex-col;
  @apply gap-3.5;
  @apply w-full;

  .super-giga-folder {
    @apply flex flex-col;

    > div:not(.super-giga-folder) {
      @apply relative;
      @apply flex;
      @apply grow;
      @apply border-ctp-red-500/90 rounded-tr-md rounded-bl-md border border-solid;
      @apply pt-2 pb-2.5 pl-4;
      @apply transition-all duration-100;

      &:hover {
        @apply cursor-pointer;
        @apply shadow-ctp-red-600/50;

        box-shadow: 0 0 15px 0px var(--tw-shadow-color) inset;
      }
    }

    > .super-giga-folder {
      @apply relative;
      @apply flex-row;
      @apply mt-0.5;

      &:nth-child(2) {
        @apply mt-2;
      }

      &:nth-child(n + 3) {
        > div {
          @apply border-t-0;
        }
      }

      > div:not(.super-giga-folder) {
        @apply relative;
        @apply ml-6;

        z-index: 2;

        &::before,
        &::after {
          content: "";

          z-index: -1;

          @apply absolute;

          @apply -top-2 -left-7;

          @apply border-ctp-red-500/80 border-l border-solid;
        }

        &::before {
          @apply h-full w-5;
          @apply ml-3;
        }

        &::after {
          @apply -left-4;
          @apply bottom-1.5;

          @apply w-6;
          @apply border-ctp-red-500/80 border-0 border-b;
        }

        &:nth-last-child(1) {
          &::before {
            @apply border-b-0 border-b-transparent;
          }
        }
      }
    }
  }

  fancy-borders {
    @apply absolute top-0 left-0;
    @apply flex h-full w-full;
    @apply border-0 border-inherit;
    @apply bg-ctp-base;

    z-index: 1;

    & > div {
      @apply absolute;
      @apply flex h-3 w-3;
      @apply border-0 border-inherit;

      &::before {
        @apply absolute;
        content: "";

        height: inherit;
        width: inherit;
        @apply bg-ctp-base;

        z-index: 2;
      }
    }

    & > div:nth-child(1) {
      @apply bottom-0 left-0;

      &::before {
        @apply -bottom-[58%] -left-[58%];
        @apply rotate-45;
        @apply border border-b-0 border-t-inherit border-r-transparent border-l-transparent;
      }
    }

    & > div:nth-child(2) {
      @apply absolute top-0 right-0;

      &::before {
        @apply -top-[58%] -right-[58%];
        @apply -rotate-135;
        @apply border border-b-0 border-t-inherit border-r-transparent border-l-transparent;
      }
    }
  }

  a {
    @apply h-full w-full;
    @apply text-ctp-base;

    z-index: 5;
  }
}
