@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import "@catppuccin/tailwindcss/mocha.css";
@import "./typography.css";
@import "./utils.css";

@theme {
  --default-font-family:
    "Atkinson Hyperlegible Next", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  --default-mono-font-family: "Atkinson Hyperlegible Mono", monospace;

  --sun-inset: 0 0px 24px 16px rgba(0, 0, 0, 1);

  --color-albedo: oklch(98.5% 0.002 247.839);
  --color-nigredo: oklch(55.1% 0.027 264.364);
  --color-citrinitas: oklch(79.5% 0.184 86.047);
  --color-rubedo: oklch(63.7% 0.237 25.331);
}

body {
  @apply flex flex-col flex-wrap gap-1 md:flex-row;
  @apply min-h-screen;
  @apply p-4 md:p-2;
  @apply bg-ctp-crust ctp-text;
}

.content-grid,
container {
  display: grid;
  grid-template-columns:
    [grid-start] minmax(0, 0.12fr) [content-start] 1fr
    [content-end] minmax(0, 0.12fr) [grid-end];
  width: 100%;

  & > *:not(.breakout) {
    grid-column: content;
  }

  & > .breakout {
    grid-column: grid;
  }
}

body {
  @apply flex flex-col flex-wrap gap-1 md:flex-row;
  @apply min-h-screen;
  @apply p-4 md:p-2;
  @apply bg-ctp-crust ctp-text;
}

main {
  @apply hidden grow flex-col gap-1;
}

#content {
  @apply border-ctp-lavender-400/50 flex grow flex-col border-2 px-4 py-2;
}
