@use "sass:map";

$base-min: 11px;
$base-max: 14px;

$lh-scale: (
  min: 1,
  max: 1.2,
);

$heading-scales: (
  h1: 2,
  h2: 1.75,
  h3: 1.5,
  h4: 1.25,
  h5: 0.875,
  h6: 0.75,
  small: 0.75,
  p: 1,
  a: 1,
  li: 1,
  blockquote: 1,
  dt: 1,
  dd: 1,
  th: 1,
  td: 1,
);

$min-vw: 768px;
$max-vw: 1440px;

@function fluid-size($min, $max) {
  @return clamp(
    $min,
    calc(
      $min + ($max - $min) * ((100vw - #{$min-vw}) / (#{$max-vw} - #{$min-vw}))
    ),
    $max
  );
}

@mixin fluid-font($min, $max) {
  font-size: fluid-size($min, $max);
}

@mixin fluid-line-height($min, $max, $scale-min, $scale-max) {
  line-height: clamp(
    $min * $scale-min,
    calc(
      (
          $min + ($max - $min) *
            ((100vw - #{$min-vw}) / (#{$max-vw} - #{$min-vw}))
        ) *
        $scale-min
    ),
    $max * $scale-max
  );
}

@mixin fluid-typography(
  $min,
  $max,
  $scale-lh-min: map.get($lh-scale, min),
  $scale-lh-max: map.get($lh-scale, max)
) {
  @include fluid-font($min, $max);
  @include fluid-line-height($min, $max, $scale-lh-min, $scale-lh-max);
}

@supports not (font-size: clamp(0, 1rem, 2rem)) {
  *,
  html {
    @include fluid-font($base-min, $base-max); // only the minimum size
    line-height: calc(map.get($lh-scale, min) * $base-min); // keep LH in sync
  }
}

:where(*, :root) {
  @include fluid-typography($base-min, $base-max);
}
