@utility neon-filter {
  --neon-filter-force: 2px;
  --neon-color: transparent;
  --neon-filter: saturate(1) opacity(1)
    drop-shadow(0px 0px var(--neon-filter-force) var(--neon-color));

  filter: var(--neon-filter);

  &::before {
    content: "";

    --neon-filter-before: saturate(1.5) opacity(0.5)
      drop-shadow(0px 0px calc(var(--neon-filter-force) * 3) var(--neon-color));

    filter: var(--neon-filter-before);
  }

  &::after {
    content: "";

    --neon-filter-after: saturate(2) opacity(0.25)
      drop-shadow(0px 0px calc(var(--neon-filter-force) * 6) var(--neon-color));

    filter: var(--neon-filter-after);
  }
}

@utility neon-filter-strong {
  --neon-filter-force: 4px;
}

@utility neon-filter-very-strong {
  --neon-filter-force: 20px;
}

@utility neon-filter-pulsate {
  animation: neon-filter-pulsate 1s infinite alternate;
  animation-timing-function: cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

@utility middle-bar-pulsate {
  animation: middle-bar-pulsation 4s infinite alternate;
  animation-timing-function: ease-in-out;
}

@keyframes middle-bar-pulsation {
  0% {
    background-position: 25% 50%;

    filter: saturate(1) opacity(1)
      drop-shadow(0px 0px var(--neon-filter-force) var(--neon-color));

    &::before {
      --neon-filter-before: saturate(1.5) opacity(0.5)
        drop-shadow(
          0px 0px calc(var(--neon-filter-force) * 3) var(--neon-color)
        );

      filter: var(--neon-filter-before);
    }

    &::after {
      --neon-filter-after: saturate(2) opacity(0.25)
        drop-shadow(
          0px 0px calc(var(--neon-filter-force) * 6) var(--neon-color)
        );

      filter: var(--neon-filter-after);
    }
  }
  100% {
    background-position: -85% 50%;

    filter: saturate(1) opacity(1)
      drop-shadow(0px 0px calc(var(--neon-filter-force) * 2) var(--neon-color));

    &::before {
      --neon-filter-before: saturate(1.5) opacity(0.5)
        drop-shadow(
          0px 0px calc(var(--neon-filter-force) * 6) var(--neon-color)
        );

      filter: var(--neon-filter-before);
    }

    &::after {
      --neon-filter-after: saturate(2) opacity(0.25)
        drop-shadow(
          0px 0px calc(var(--neon-filter-force) * 12) var(--neon-color)
        );

      filter: var(--neon-filter-after);
    }
  }
}

@keyframes neon-filter-pulsate {
  0% {
    filter: saturate(1) opacity(1)
      drop-shadow(0px 0px var(--neon-filter-force) var(--neon-color));

    &::before {
      --neon-filter-before: saturate(1.5) opacity(0.5)
        drop-shadow(
          0px 0px calc(var(--neon-filter-force) * 3) var(--neon-color)
        );

      filter: var(--neon-filter-before);
    }

    &::after {
      --neon-filter-after: saturate(2) opacity(0.25)
        drop-shadow(
          0px 0px calc(var(--neon-filter-force) * 6) var(--neon-color)
        );

      filter: var(--neon-filter-after);
    }
  }
  100% {
    filter: saturate(1) opacity(1)
      drop-shadow(0px 0px calc(var(--neon-filter-force) * 2) var(--neon-color));

    &::before {
      --neon-filter-before: saturate(1.5) opacity(0.5)
        drop-shadow(
          0px 0px calc(var(--neon-filter-force) * 6) var(--neon-color)
        );

      filter: var(--neon-filter-before);
    }

    &::after {
      --neon-filter-after: saturate(2) opacity(0.25)
        drop-shadow(
          0px 0px calc(var(--neon-filter-force) * 12) var(--neon-color)
        );

      filter: var(--neon-filter-after);
    }
  }
}

@utility ctp-text {
  --ctp-text-theme-headings: var(--color-stone-100);
  --ctp-text-theme-body: var(--color-stone-50);
  --ctp-text-theme-lead: var(--color-stone-200);
  --ctp-text-theme-links: var(--color-stone-200);
  --ctp-text-theme-bold: var(--color-stone-300);
  --ctp-text-theme-counters: var(--color-stone-400);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--ctp-text-theme-headings);
  }

  p,
  span,
  li,
  a,
  small {
    color: var(--ctp-text-theme-body);
  }

  small {
    color: var(--ctp-text-theme-bold);
  }
}
