---
// import Eyes from "../components/gamey-carousel.astro";
import Breadcrumbers from "../components/breadcrumbers.astro";
import Eyes from "../components/eyes.astro";
import IndexLayout from "../layouts/index.astro";
---

<IndexLayout>
  <Eyes />
  <Breadcrumbers />
  
  <div id="inner">
    <a href="#" hx-post="/templates/test.html" hx-swap="morph">shalom3</a>
  </div>

  <div id="content-footer"></div>
</IndexLayout>
