---
import Eyes from "../components/gamey-carousel.astro"
import IndexLayout from "../layouts/index.astro"
---

<IndexLayout>
  <Eyes />

  <div id="breadcrumbers_xd">
    <ul>
      <li>
        <a href="/home">test</a>
      </li>
      <li>
        <a href="/citrinitas">test</a>
      </li>
      <li>
        <a href="/sun-gallery">test</a>
      </li>
    </ul>
  </div>

  <div id="inner">
    <a href="#" hx-post="/templates/test.html" hx-swap="morph">shalom3</a>
  </div>

  <div id="content-footer"></div>
</IndexLayout>
