---
import { Image } from "astro:assets";
import "../styles/base.css";
import "../styles/index.css";

import Navbar from "../components/navbar.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Sol's Rest</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />

    <script type="module">
      import "../scripts/htmx_bootstrap.js";
    </script>
    <script src="/js/scripts.js" type="module"></script>
  </head>
  <Navbar />
  <body hx-boost="true" hx-ext="idiomorph,head-support,preload,sse">
    <container>
      <main id="page-main">
        <div id="content">
          <slot />
        </div>

        <footer id="footer">
          <a href=""
            >Made with pure hatred <br />
            You should all die</a
          >
        </footer>
      </main>
    </container>
  </body>
</html>
